.counter {
  font-weight: bold;
}

.counter--green {
  font-weight: bold;
  color: rgb(25,200,25);
}

.duck {
  display: inline-block;
  width: 10rem;
  margin-top: 1.5rem;
}

.sample-counter {
  color: rebeccapurple;
}
